*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
    font-size: 13px;
}

.modal-body>p{
    padding: 5px 5px;
    font-size: 13px;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events:all;
}

body{
    background-color: #151320;
    height: 100vh;
    display: grid;
    place-items: center center;
    font-family: 'Poppins', sans-serif;
}

.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    display:inline-block;
    -webkit-appearance:button;
    padding:3px 8px 3px 8px;
    font-size:13px;
    position:relative;
    cursor:context-menu;
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

.button{
    background-color: #151320;
    border: none;
}

.container{
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
}

img{
    width:100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content:"";
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.details{
    padding: 20px 10px;
}

.details>h3{
    color:#ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.details>h{
    color:#acacac;
    font-size: 14px;
    margin: 10px 0 15px 0;
}

.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.details>h4{
    color:#000000;
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0 15px 0;
}

.details>h2{
    color:#000000;
    font-weight: 600;
    font-size: 12px;
    margin: 5px 0 5px 0;
}

.details>h1{
    color:#000000;
    font-weight: 600;
    font-size: 14px;
    margin: 5px 0 5px 0;
}

.details>a{
    color:#ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}